### PROJECT TITLE : Traffic Accident Patterns Analysis

### DATASET NAME :  Global Traffic Accidents Dataset

### PYTHON LIBRARIES USED : Numpay, Pandas, Matplotlib,  and Seaborn

### OPREATIONS : Data Cleaning, Transformation, and Visualization

### import python libraries

In [2]:
#import Numpay
import numpy as np
#import Pandas
import pandas as pd
#import Matplotlib
import matplotlib.pyplot as plt
#import seaborn
import seaborn as sns

### Load Dataset

In [3]:
# Load the dataset
df = pd.read_csv('global_traffic_accidents.csv')

### Applying basic functions to the above dataset

In [3]:
# To print first five rows
df.head()

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,Casualties,Cause
0,b0dd6f57,2023-04-19,06:39,"Mumbai, India",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
1,debfad09,2023-01-17,02:47,"São Paulo, Brazil",-37.798317,-32.244242,Clear,Icy,4,1,Drunk Driving
2,6d69aa36,2024-04-09,02:55,"Sydney, Australia",33.767869,104.869018,Rain,Snowy,1,7,Reckless Driving
3,425bb1f0,2023-10-10,11:23,"Tokyo, Japan",-0.378031,-165.825855,Storm,Wet,4,0,Drunk Driving
4,90d5cf62,2023-01-02,12:07,"Beijing, China",41.254879,-30.776959,Storm,Snowy,3,9,Reckless Driving

In [4]:
# To print last five rows
df.tail()

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,Casualties,Cause
9995,2d26c7e2,2023-01-10,18:41,"Paris, France",-41.344055,109.335620,Storm,Wet,3,10,Distracted Driving
9996,4d236cfd,2023-04-04,16:48,"São Paulo, Brazil",-60.765148,-10.432225,Storm,Dry,3,9,Weather Conditions
9997,1d32722f,2024-09-30,14:43,"Beijing, China",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions
9998,64722572,2024-10-27,18:34,"Sydney, Australia",-17.153524,20.803006,Storm,Under Construction,4,3,Drunk Driving
9999,96272c1b,2024-10-26,10:30,"Toronto, Canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

In [5]:
#To print SIZE
df.size

110000

In [16]:
# Column types, no.of columns, index range, memory usage and nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Accident ID        10000 non-null  object
 1   Date               10000 non-null  object
 2   Time               10000 non-null  object
 3   Location           10000 non-null  object
 4   Latitude           10000 non-null  float64
 5   Longitude          10000 non-null  float64
 6   Weather Condition  10000 non-null  object
 7   Road Condition     10000 non-null  object
 8   Vehicles Involved  10000 non-null  int64
 9   Casualties         10000 non-null  int64
 10  Cause              10000 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 859.5+ KB

In [18]:
# Statistical summary for numeric columns
# Like count, mean, max, std, etc.,
df.describe()

           Latitude     Longitude  Vehicles Involved   Casualties
count  10000.000000  10000.000000       10000.000000  10000.00000
mean      -0.543557      0.338573           2.999100      4.98820
std       51.917928    103.379168           1.408935      3.13015
min      -89.985688   -179.961984           1.000000      0.00000
25%      -45.426619    -88.231733           2.000000      2.00000
50%       -1.080556     -0.682727           3.000000      5.00000
75%       44.137309     89.973059           4.000000      8.00000
max       89.990081    179.981695           5.000000     10.00000

In [20]:
# Rows and columns
#it give no.of rows and columns in the format (rows,columns)
df.shape

(10000, 11)

In [21]:
# Column names
df.columns

Index(['Accident ID', 'Date', 'Time', 'Location', 'Latitude', 'Longitude',
       'Weather Condition', 'Road Condition', 'Vehicles Involved',
       'Casualties', 'Cause'],
      dtype='object')

In [22]:
#To check how many null values in each column
df.isnull().sum()

Accident ID          0
Date                 0
Time                 0
Location             0
Latitude             0
Longitude            0
Weather Condition    0
Road Condition       0
Vehicles Involved    0
Casualties           0
Cause                0
dtype: int64

In [6]:
#To remove duplicate rows
df.drop_duplicates()

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,Casualties,Cause
0,b0dd6f57,2023-04-19,06:39,"Mumbai, India",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
1,debfad09,2023-01-17,02:47,"São Paulo, Brazil",-37.798317,-32.244242,Clear,Icy,4,1,Drunk Driving
2,6d69aa36,2024-04-09,02:55,"Sydney, Australia",33.767869,104.869018,Rain,Snowy,1,7,Reckless Driving
3,425bb1f0,2023-10-10,11:23,"Tokyo, Japan",-0.378031,-165.825855,Storm,Wet,4,0,Drunk Driving
4,90d5cf62,2023-01-02,12:07,"Beijing, China",41.254879,-30.776959,Storm,Snowy,3,9,Reckless Driving
...,...,...,...,...,...,...,...,...,...,...,...
9995,2d26c7e2,2023-01-10,18:41,"Paris, France",-41.344055,109.335620,Storm,Wet,3,10,Distracted Driving
9996,4d236cfd,2023-04-04,16:48,"São Paulo, Brazil",-60.765148,-10.432225,Storm,Dry,3,9,Weather Conditions
9997,1d32722f,2024-09-30,14:43,"Beijing, China",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions
9998,64722572,2024-10-27,18:34,"Sydney, Australia",-17.153524,20.803006,Storm,Under Construction,4,3,Drunk Driving
9999,96272c1b,2024-10-26,10:30,"Toronto, Canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

In [7]:
#To drop null 
df.dropna()

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,Casualties,Cause
0,b0dd6f57,2023-04-19,06:39,"Mumbai, India",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
1,debfad09,2023-01-17,02:47,"São Paulo, Brazil",-37.798317,-32.244242,Clear,Icy,4,1,Drunk Driving
2,6d69aa36,2024-04-09,02:55,"Sydney, Australia",33.767869,104.869018,Rain,Snowy,1,7,Reckless Driving
3,425bb1f0,2023-10-10,11:23,"Tokyo, Japan",-0.378031,-165.825855,Storm,Wet,4,0,Drunk Driving
4,90d5cf62,2023-01-02,12:07,"Beijing, China",41.254879,-30.776959,Storm,Snowy,3,9,Reckless Driving
...,...,...,...,...,...,...,...,...,...,...,...
9995,2d26c7e2,2023-01-10,18:41,"Paris, France",-41.344055,109.335620,Storm,Wet,3,10,Distracted Driving
9996,4d236cfd,2023-04-04,16:48,"São Paulo, Brazil",-60.765148,-10.432225,Storm,Dry,3,9,Weather Conditions
9997,1d32722f,2024-09-30,14:43,"Beijing, China",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions
9998,64722572,2024-10-27,18:34,"Sydney, Australia",-17.153524,20.803006,Storm,Under Construction,4,3,Drunk Driving
9999,96272c1b,2024-10-26,10:30,"Toronto, Canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

In [11]:
#To find Dtype of a single column
df['Latitude'].dtype

dtype('float64')

In [9]:
#To find Dtype of a Single column
#'o' means object
df['Cause'].dtype

dtype('O')

In [13]:
#To check data types of all columns
df.dtypes

Accident ID           object
Date                  object
Time                  object
Location              object
Latitude             float64
Longitude            float64
Weather Condition     object
Road Condition        object
Vehicles Involved      int64
Casualties             int64
Cause                 object
dtype: object

In [19]:
#to print count of each unique value in particular column and the datatype of the column
df['Casualties'].value_counts()

Casualties
5     964
4     944
3     932
2     917
7     913
9     909
8     905
1     892
6     882
0     876
10    866
Name: count, dtype: int64

In [20]:
#to count no.of of values in column wise
df.count()

Accident ID          10000
Date                 10000
Time                 10000
Location             10000
Latitude             10000
Longitude            10000
Weather Condition    10000
Road Condition       10000
Vehicles Involved    10000
Casualties           10000
Cause                10000
dtype: int64

### DATA CLEANING:

In [25]:
#To convert column datatype from object to datetime of Date column
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Date'].dtype

dtype('<M8[ns]')

In [35]:
# Drop rows with missing location
df.dropna(subset=['Location'], inplace=True)
df

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,Casualties,Cause
0,b0dd6f57,2023-04-19,06:39,"mumbai, india",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
1,debfad09,2023-01-17,02:47,"são paulo, brazil",-37.798317,-32.244242,Clear,Icy,4,1,Drunk Driving
2,6d69aa36,2024-04-09,02:55,"sydney, australia",33.767869,104.869018,Rain,Snowy,1,7,Reckless Driving
3,425bb1f0,2023-10-10,11:23,"tokyo, japan",-0.378031,-165.825855,Storm,Wet,4,0,Drunk Driving
4,90d5cf62,2023-01-02,12:07,"beijing, china",41.254879,-30.776959,Storm,Snowy,3,9,Reckless Driving
...,...,...,...,...,...,...,...,...,...,...,...
9995,2d26c7e2,2023-01-10,18:41,"paris, france",-41.344055,109.335620,Storm,Wet,3,10,Distracted Driving
9996,4d236cfd,2023-04-04,16:48,"são paulo, brazil",-60.765148,-10.432225,Storm,Dry,3,9,Weather Conditions
9997,1d32722f,2024-09-30,14:43,"beijing, china",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions
9998,64722572,2024-10-27,18:34,"sydney, australia",-17.153524,20.803006,Storm,Under Construction,4,3,Drunk Driving
9999,96272c1b,2024-10-26,10:30,"toronto, canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

In [36]:
#Standardize Text (Optional)
#trip whitespace, lowercasing, fix typos
df['Location'] = df['Location'].str.strip().str.lower()
df

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,Casualties,Cause
0,b0dd6f57,2023-04-19,06:39,"mumbai, india",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
1,debfad09,2023-01-17,02:47,"são paulo, brazil",-37.798317,-32.244242,Clear,Icy,4,1,Drunk Driving
2,6d69aa36,2024-04-09,02:55,"sydney, australia",33.767869,104.869018,Rain,Snowy,1,7,Reckless Driving
3,425bb1f0,2023-10-10,11:23,"tokyo, japan",-0.378031,-165.825855,Storm,Wet,4,0,Drunk Driving
4,90d5cf62,2023-01-02,12:07,"beijing, china",41.254879,-30.776959,Storm,Snowy,3,9,Reckless Driving
...,...,...,...,...,...,...,...,...,...,...,...
9995,2d26c7e2,2023-01-10,18:41,"paris, france",-41.344055,109.335620,Storm,Wet,3,10,Distracted Driving
9996,4d236cfd,2023-04-04,16:48,"são paulo, brazil",-60.765148,-10.432225,Storm,Dry,3,9,Weather Conditions
9997,1d32722f,2024-09-30,14:43,"beijing, china",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions
9998,64722572,2024-10-27,18:34,"sydney, australia",-17.153524,20.803006,Storm,Under Construction,4,3,Drunk Driving
9999,96272c1b,2024-10-26,10:30,"toronto, canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

In [38]:
# Fill missing 'Weather Condition' with 'Unknown'
df.fillna({'Weather Condition':'Unknown'}, inplace=True)
df

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,Casualties,Cause
0,b0dd6f57,2023-04-19,06:39,"mumbai, india",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
1,debfad09,2023-01-17,02:47,"são paulo, brazil",-37.798317,-32.244242,Clear,Icy,4,1,Drunk Driving
2,6d69aa36,2024-04-09,02:55,"sydney, australia",33.767869,104.869018,Rain,Snowy,1,7,Reckless Driving
3,425bb1f0,2023-10-10,11:23,"tokyo, japan",-0.378031,-165.825855,Storm,Wet,4,0,Drunk Driving
4,90d5cf62,2023-01-02,12:07,"beijing, china",41.254879,-30.776959,Storm,Snowy,3,9,Reckless Driving
...,...,...,...,...,...,...,...,...,...,...,...
9995,2d26c7e2,2023-01-10,18:41,"paris, france",-41.344055,109.335620,Storm,Wet,3,10,Distracted Driving
9996,4d236cfd,2023-04-04,16:48,"são paulo, brazil",-60.765148,-10.432225,Storm,Dry,3,9,Weather Conditions
9997,1d32722f,2024-09-30,14:43,"beijing, china",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions
9998,64722572,2024-10-27,18:34,"sydney, australia",-17.153524,20.803006,Storm,Under Construction,4,3,Drunk Driving
9999,96272c1b,2024-10-26,10:30,"toronto, canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

In [11]:
#To rename the column
df.rename(columns={'Casualties': 'No.of Deaths'}, inplace=True)
df

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,No.of Deaths,Cause
0,b0dd6f57,2023-04-19,06:39,"Mumbai, India",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
1,debfad09,2023-01-17,02:47,"São Paulo, Brazil",-37.798317,-32.244242,Clear,Icy,4,1,Drunk Driving
2,6d69aa36,2024-04-09,02:55,"Sydney, Australia",33.767869,104.869018,Rain,Snowy,1,7,Reckless Driving
3,425bb1f0,2023-10-10,11:23,"Tokyo, Japan",-0.378031,-165.825855,Storm,Wet,4,0,Drunk Driving
4,90d5cf62,2023-01-02,12:07,"Beijing, China",41.254879,-30.776959,Storm,Snowy,3,9,Reckless Driving
...,...,...,...,...,...,...,...,...,...,...,...
9995,2d26c7e2,2023-01-10,18:41,"Paris, France",-41.344055,109.335620,Storm,Wet,3,10,Distracted Driving
9996,4d236cfd,2023-04-04,16:48,"São Paulo, Brazil",-60.765148,-10.432225,Storm,Dry,3,9,Weather Conditions
9997,1d32722f,2024-09-30,14:43,"Beijing, China",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions
9998,64722572,2024-10-27,18:34,"Sydney, Australia",-17.153524,20.803006,Storm,Under Construction,4,3,Drunk Driving
9999,96272c1b,2024-10-26,10:30,"Toronto, Canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

### DATA FILTERING:

In [40]:
# Accidents with Weather Condition = 'Snow'
df[df['Weather Condition'] == 'Snow']

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,No.of Deaths,Cause
0,b0dd6f57,2023-04-19,06:39,"mumbai, india",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
13,6c97348c,2023-01-05,18:41,"mumbai, india",1.551880,-169.953341,Snow,Snowy,4,6,Drunk Driving
17,acfb6bcc,2023-12-30,17:57,"tokyo, japan",-59.799586,134.326268,Snow,Icy,1,1,Speeding
21,711ca10d,2023-03-06,10:17,"beijing, china",14.023021,13.166353,Snow,Gravel,2,1,Distracted Driving
28,d0028b49,2024-12-14,15:40,"mumbai, india",13.419264,-176.277620,Snow,Gravel,3,0,Mechanical Failure
...,...,...,...,...,...,...,...,...,...,...,...
9967,eb309575,2023-10-02,02:12,"paris, france",-30.832924,-120.240903,Snow,Dry,2,0,Distracted Driving
9968,8d27a3fc,2024-06-23,03:59,"tokyo, japan",24.413437,-106.215917,Snow,Wet,3,0,Distracted Driving
9990,49ebe5f0,2023-10-07,03:50,"mumbai, india",-40.470288,54.775640,Snow,Gravel,4,10,Drunk Driving
9994,5f78456c,2024-08-11,08:53,"paris, france",-4.215421,58.939841,Snow,Gravel,4,0,Reckless Driving
9997,1d32722f,2024-09-30,14:43,"beijing, china",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions

In [41]:
# No.of Deaths > 2
df[df['No.of Deaths'] > 2]

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,No.of Deaths,Cause
0,b0dd6f57,2023-04-19,06:39,"mumbai, india",13.488432,-73.290682,Snow,Snowy,5,7,Reckless Driving
2,6d69aa36,2024-04-09,02:55,"sydney, australia",33.767869,104.869018,Rain,Snowy,1,7,Reckless Driving
4,90d5cf62,2023-01-02,12:07,"beijing, china",41.254879,-30.776959,Storm,Snowy,3,9,Reckless Driving
5,24d3501f,2023-04-02,10:57,"paris, france",-85.766268,-20.271304,Fog,Icy,2,6,Drunk Driving
6,0f1ed7d1,2023-07-11,08:34,"mumbai, india",-24.046032,-4.414578,Clear,Under Construction,4,8,Reckless Driving
...,...,...,...,...,...,...,...,...,...,...,...
9995,2d26c7e2,2023-01-10,18:41,"paris, france",-41.344055,109.335620,Storm,Wet,3,10,Distracted Driving
9996,4d236cfd,2023-04-04,16:48,"são paulo, brazil",-60.765148,-10.432225,Storm,Dry,3,9,Weather Conditions
9997,1d32722f,2024-09-30,14:43,"beijing, china",-11.161278,-72.164379,Snow,Under Construction,2,3,Weather Conditions
9998,64722572,2024-10-27,18:34,"sydney, australia",-17.153524,20.803006,Storm,Under Construction,4,3,Drunk Driving
9999,96272c1b,2024-10-26,10:30,"toronto, canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

In [72]:
# Multiple conditions (AND)
df[(df['Vehicles Involved'] == 4)&
(df['Weather Condition'] == 'Rain')&
(df['Date'] >= '2024-06-09')&
(df['Time'] <= '08:30' )]

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,No.of Deaths,Cause
57,abb826f0,2024-07-03,04:19,"paris, france",-17.507656,140.222556,Rain,Icy,4,1,Weather Conditions
102,3fe71565,2024-11-15,02:33,"new york, usa",33.414760,102.461224,Rain,Snowy,4,2,Distracted Driving
1247,82e4cae0,2024-09-02,07:18,"mumbai, india",-17.820159,-88.895616,Rain,Wet,4,10,Weather Conditions
2564,8af438b8,2024-07-11,06:21,"beijing, china",-35.252694,-91.634855,Rain,Gravel,4,9,Speeding
2768,c3a4a62e,2024-11-22,02:10,"toronto, canada",-47.274312,-96.732904,Rain,Snowy,4,4,Reckless Driving
2846,218042d3,2024-08-31,02:29,"paris, france",32.262077,-110.948090,Rain,Under Construction,4,3,Mechanical Failure
2878,9f39049d,2024-10-13,05:50,"são paulo, brazil",-53.041487,152.562246,Rain,Snowy,4,10,Reckless Driving
3041,1097957d,2024-07-17,06:10,"tokyo, japan",3.683486,-168.003176,Rain,Icy,4,0,Reckless Driving
3111,dd1c9c0f,2024-07-30,02:51,"paris, france",24.821640,-76.307701,Rain,Snowy,4,4,Distracted Driving
3201,2178ed45,2024-08-17,06:31,"mumbai, india",-61.136341,-105.188767,Rain,Gravel,4,1,Mechanical Failure
3443,f16a50ad,2024-09-01,06:10,"toronto, canada",-62.767594,155.996468,Rain,Under Construction,4,2,Distracted Driving
3725,406c2d5c,2024-07-26,00:47,"mumbai, india",-0.852846,74.068385,Rain,Under Construction,4,7,Speeding
3739,b048a747,2024-11-29,03:40,"berlin, germany",68.506986,-172.349445,Rain,Snowy,4,7,Distracted Driving
3780,96c7bea4,2024-11-01,03:47,"são paulo, brazil",-73.622177,148.167889,Rain,Icy,4,1,Distracted Driving
4445,f54d064a,2024-10-26,05:48,"berlin, germany",80.107741,-118.868515,Rain,Gravel,4,2,Drunk Driving
5490,2ef01517,2024-09-07,05:47,"toronto, canada",-21.021448,94.505810,Rain,Under Construction,4,6,Weather Conditions
5990,cc45d6db,2024-09-21,04:24,"são paulo, brazil",82.795890,-134.283013,Rain,Snowy,4,3,Distracted Driving
6417,54a58498,2024-10-22,06:04,"sydney, australia",82.565945,-107.602046,Rain,Under Construction,4,3,Speeding
6825,7f2ed772,2024-10-21,07:14,"são paulo, brazil",-82.453772,-165.992140,Rain,Gravel,4,2,Drunk Driving
7140,7424242e,2024-12-27,03:44,"toronto, canada",42.770217,-143.216500,Rain,Icy,4,8,Weather Conditions
7166,ef2e1e4c,2024-10-30,01:45,"berlin, germany",11.196086,70.069588,Rain,Icy,4,2,Drunk Driving
7255,559c51fc,2024-08-20,08:19,"new york, usa",32.515532,41.012184,Rain,Under Construction,4,0,Drunk Driving
7421,ee384ec9,2024-12-05,08:07,"sydney, australia",11.975314,0.953957,Rain,Gravel,4,2,Distracted Driving
7861,2e34aa81,2024-06-21,07:17,"new york, usa",87.037002,135.771061,Rain,Under Construction,4,2,Weather Conditions
7940,6e555c9c,2024-09-19,04:07,"toronto, canada",-69.921755,-12.670602,Rain,Snowy,4,2,Reckless Driving
8159,294937aa,2024-12-13,06:04,"beijing, china",-70.851905,117.815729,Rain,Gravel,4,8,Weather Conditions
8244,6dc3e176,2024-09-18,04:46,"tokyo, japan",-55.036947,103.024422,Rain,Snowy,4,4,Reckless Driving
8445,2ed71a4e,2024-09-25,05:48,"são paulo, brazil",3.117154,-179.022759,Rain,Dry,4,6,Speeding
8507,427b3e9c,2024-12-24,06:39,"mumbai, india",-83.311154,-123.563759,Rain,Under Construction,4,9,Mechanical Failure
8635,d8fe23da,2024-12-08,07:43,"sydney, australia",-21.734396,44.207229,Rain,Dry,4,5,Weather Conditions
8672,4e6b2e8a,2024-08-09,06:04,"toronto, canada",66.034998,-135.394720,Rain,Under Construction,4,3,Drunk Driving
8728,eed3924c,2024-12-03,03:33,"são paulo, brazil",-14.184832,-122.632279,Rain,Dry,4,3,Speeding
8975,56b759c4,2024-11-22,01:30,"mumbai, india",82.585683,41.085081,Rain,Snowy,4,7,Reckless Driving
9069,a26d64c2,2024-07-03,00:59,"são paulo, brazil",-80.695889,-32.125756,Rain,Gravel,4,1,Reckless Driving
9204,568c3b51,2024-08-10,02:45,"mumbai, india",-78.890935,-130.863321,Rain,Icy,4,9,Weather Conditions
9336,8aaee008,2024-09-14,03:48,"new york, usa",-45.572533,61.647955,Rain,Dry,4,10,Weather Conditions
9575,8f000e7c,2024-08-13,01:47,"new york, usa",44.440505,119.827511,Rain,Wet,4,6,Weather Conditions
9814,a9bae0e5,2024-08-31,07:39,"berlin, germany",-15.268100,112.861300,Rain,Wet,4,2,Mechanical Failure

In [73]:
#count the no.of results
df[(df['Vehicles Involved'] == 4)&
(df['Weather Condition'] == 'Rain')&
(df['Date'] >= '2024-06-09')&
(df['Time'] <= '08:30' )].shape[0]

38

### GROUPING:

In [4]:
# Count of accidents per location by groupby()
df.groupby('Location').size()

Location
Beijing, China       1014
Berlin, Germany       958
London, UK           1000
Mumbai, India         987
New York, USA        1016
Paris, France         995
Sydney, Australia    1006
São Paulo, Brazil    1032
Tokyo, Japan          989
Toronto, Canada      1003
dtype: int64

In [5]:
# Or using value_counts()
df['Weather Condition'].value_counts()

Weather Condition
Rain     1681
Clear    1674
Hail     1673
Snow     1667
Fog      1660
Storm    1645
Name: count, dtype: int64

### SORTING:

In [12]:
# Sort by Vehicles Involved in ascending order
df.sort_values(by='Vehicles Involved')

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,No.of Deaths,Cause
4999,91ab763f,2023-04-10,13:02,"São Paulo, Brazil",9.613841,117.028147,Clear,Gravel,1,7,Distracted Driving
9521,6c2e8f90,2023-07-25,01:07,"New York, USA",-40.654126,169.022510,Rain,Gravel,1,0,Mechanical Failure
6473,df4313ec,2023-07-26,09:09,"São Paulo, Brazil",68.350917,-120.025351,Snow,Wet,1,4,Weather Conditions
2539,11faeb58,2023-06-29,01:29,"Mumbai, India",25.437342,3.813586,Snow,Under Construction,1,10,Distracted Driving
6469,a0fc783b,2024-05-04,23:30,"São Paulo, Brazil",-22.405316,46.663478,Snow,Snowy,1,1,Mechanical Failure
...,...,...,...,...,...,...,...,...,...,...,...
5776,1537b5cc,2023-01-26,11:29,"Paris, France",85.036176,60.014784,Hail,Under Construction,5,2,Mechanical Failure
5787,8032cc23,2023-05-14,03:29,"Berlin, Germany",4.900636,117.137333,Storm,Gravel,5,7,Weather Conditions
5804,004a5717,2023-08-07,11:28,"London, UK",-79.269004,-134.838325,Hail,Gravel,5,9,Distracted Driving
5737,ec615da4,2023-01-03,04:48,"Paris, France",-70.494869,89.096446,Hail,Icy,5,9,Distracted Driving
9999,96272c1b,2024-10-26,10:30,"Toronto, Canada",21.917486,100.486079,Storm,Icy,5,4,Mechanical Failure

In [14]:
# Sort by No.of Deaths in descending order
df.sort_values(by='No.of Deaths', ascending=False)

,Accident ID,Date,Time,Location,Latitude,Longitude,Weather Condition,Road Condition,Vehicles Involved,No.of Deaths,Cause
4915,014ec9dd,2023-01-29,02:45,"London, UK",-15.735222,-98.089071,Hail,Dry,4,10,Mechanical Failure
7155,75a1aaa0,2023-04-19,04:11,"New York, USA",51.684053,-102.251077,Fog,Dry,3,10,Drunk Driving
4543,4ee4fa9b,2023-09-20,06:30,"Beijing, China",38.103924,-87.050810,Rain,Gravel,5,10,Mechanical Failure
8928,e5c06d23,2024-01-03,18:40,"Sydney, Australia",37.781430,-167.777605,Snow,Under Construction,5,10,Weather Conditions
2026,5588b426,2024-10-29,09:58,"Beijing, China",-5.595689,-85.012699,Snow,Icy,1,10,Speeding
...,...,...,...,...,...,...,...,...,...,...,...
3419,0fc81b4d,2024-01-27,19:57,"Sydney, Australia",31.337341,-31.181706,Fog,Dry,4,0,Mechanical Failure
8551,453c4c63,2024-01-19,04:35,"Mumbai, India",-53.117955,138.753857,Hail,Dry,3,0,Reckless Driving
6873,7f95820c,2024-09-28,00:51,"Sydney, Australia",-43.116002,-6.316015,Storm,Wet,4,0,Reckless Driving
5090,2132200e,2024-06-07,05:55,"Sydney, Australia",-73.941822,-172.695964,Clear,Gravel,5,0,Speeding
7094,b6038198,2023-05-05,09:09,"Mumbai, India",26.747371,146.710431,Fog,Icy,4,0,Drunk Driving